@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #fafaff ;
  /* background-color: rgb(5, 7, 123) */
  /* background: linear-gradient(100deg, #fdfdff 0%, #7885ff 100%); */
  background-color: #fafaff;
}

.arrow {
  animation: arrowMouv 2.5s infinite; 
  transition: transform 1.5s;
  cursor: pointer;
}

.custom-cursor {
  position: fixed;
  /* left: -6px;
  top: -2px; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border:2px solid #ff7f1d;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.3s ease-out;
}

@keyframes arrowMouv {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1.5rem);
  }
  100% {
      transform: translateY(0);
  } 
}